{% extends 'base.html' %}
{% block content %}

<div class="container">
    <h2>Add New Room</h2>

    <!-- <form action="{{ url_for('add_room') }}" method="POST" enctype="multipart/form-data" id="room-form"> -->

        <form action="{{ url_for('add_room') }}" method="POST" enctype="multipart/form-data">
            
            <label>Room Type:</label>
            <input type="text" name="room_type" required>
        
            <label>Price:</label>
            <input type="number" name="price" step="0.01" required>
        
            <label>Description:</label>
            <textarea name="description" required></textarea>
        
            <label>Amenity:</label>
            <input type="text" name="amenity" required>
        
            <label>Availability:</label>
            <input type="checkbox" name="availability">
        
            <label>Room Image:</label>
            <input type="file" name="image" accept="image/*" required>
        
            <button type="submit">Add Room</button>
        </form>
        
        </div>
    <br>
    <a href="{{ url_for('admin_dashboard') }}" class="btn btn-secondary">Back to Admin Dashboard</a>

</div>

{% endblock %}
